* {
    font-family: 'Roboto', sans-serif;
}
a:hover {
    text-decoration: none;
}

body {
    
}

nav a {
    color: white;
}

img {
    width: 100%;;
}

.blog-post{
    width: 100%;
    max-width: 50rem;
    min-height: 20rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: .1rem .1rem rgba(0, 0, 0, .2);
    align-items: center;
}

.line {
    border-top: 1px dashed rgba(0, 0, 0, .5);
    margin-top: -.4rem;
}

.linejudul {
    border-top: 3px solid rgba(0, 0, 0, .2);
    margin: .2rem 0;
    width: 5%;
    
}

.blog-post_img {
    max-height: 10rem;
    max-width: 17rem;
    min-height: 10rem;
    min-width: 17rem;
    height: 10;
    position: relative;
}

.blog-post_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.blog-post_date {
    display: inline-block;
    color: rgba(0, 0, 0, .5);
    font-size: .8rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.blog-post_date a {
    color: rgba(0, 0, 0, .5);
}

.blog-post_date span {
    margin-right: 0.6rem;
}

.sosmed {
    margin-left: auto;
}


.sosmed span {
    font-size: 1rem;
}

.article-author span {
    font-size: .8rem;
    font-weight: bold;
}


.blog-post_title p{
    font-weight: bold;
    margin-bottom: 0;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, .7);
}

.blog-post_text {
    margin-bottom: 0rem;
    font-size: 0.9rem;
    margin-left: 1rem;
    text-align: justify;
    text-justify: inter-word;
}

.blog-article_text {
    margin-bottom: 0rem;
    font-size: 0.9rem;
    text-align: justify;
    text-justify: inter-word;
}

.blog-post_cta {
    display: inline-block;
    color: #fff;
    text-transform: capitalize;
    padding: .5rem .9rem;
    margin-top: 1rem;
    font-weight: bolder;
}

.blog-post_cta:hover {
    color: red;
    font-weight: bold;
    text-decoration: none;
}

.blog-post_tags {
    display: inline-block;
    color: rgba(0, 0, 0, .5);
    font-size: .8rem;
    font-weight: bold;
    margin-top: -3rem;
}

.pagination {
    justify-content: center;
 }

 .pagination a {
    margin: 0 4px; /* 0 is for top and bottom. Feel free to change it */
  }

@media screen and (max-width: 750px){
    .blog-post_img {
        min-width: 100%;
        max-width: 100%;

    }
    .blog-post_info {
        margin: .3rem;
        flex-direction: column;
    }

    .blog-post_text {
        margin-left: 0.1rem;
        margin-top: 0.5rem;
    }

    .blog-post_date {
        flex-direction: column;
    }
    .sosmed {
        margin-left: 0;
    }
}